<div class="search-container">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Novo
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input
      matInput
      [(ngModel)]="searchKey"
      placeholder="Pesquisar..."
      autocomplete="off"
      (keyup)="applyFilter()">
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Limpar"
      *ngIf="searchKey"
      (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<table
  mat-table
  [dataSource]="clients"
  class="mat-elevation-z8"
  matSort>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.gender == 'M'">Masculino</ng-container>
      <ng-container *ngIf="element.gender == 'F'">Feminino</ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="fone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fone </th>
    <td mat-cell *matCellDef="let element"> {{element.fone}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onEdit(element)"><mat-icon>launch</mat-icon></button>
      <button mat-icon-button (click)="onDelete(element)"color="warn"><mat-icon>delete_outline</mat-icon></button>
    </td>
  </ng-container>

  <ng-container matColumnDef="loading">
    <mat-footer-cell *matFooterCellDef >
      Carregando dados...
    </mat-footer-cell>
  </ng-container>
  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':clients!=null}" ></mat-footer-row>
</table>
<mat-paginator [length]="100"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons>
</mat-paginator>


<ng-template #callAPIDialog >
  <mat-toolbar>
    <span>{{clientForm.controls["id"].value?"Modificar Client" : "Cadastrar Cliente"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="clientForm" class="client-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controle-container">
          <input type="hidden" formControlName="id">
          <mat-form-field class="full-width">
            <mat-label>Nome Completo*</mat-label>
            <input matInput placeholder="" formControlName="name">
            <mat-error>Esse campo precisa ser preenchido</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Email*</mat-label>
            <input matInput placeholder="" formControlName="email">
            <mat-error *ngIf="clientForm.controls['email'].errors?.required">Esse campo precisa ser um preenchido</mat-error>
            <mat-error *ngIf="clientForm.controls['email'].errors?.email">Esse campo precisa ser um email</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Fone</mat-label>
            <input matInput placeholder="" formControlName="fone">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="righ-grid">
        <div class="controle-container">
          <mat-form-field class="full-width">
            <mat-label>Documento</mat-label>
            <input matInput placeholder="" formControlName="document">
          </mat-form-field>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="M">Masculino</mat-radio-button>
            <mat-radio-button value="F">Feminino</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="full-width">
            <mat-label>Data Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
            <mat-error>Esse campo precisa ser uma data</mat-error>
          </mat-form-field>
          <div class="submit-button">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!clientForm.valid">Salvar</button>
            <button mat-raised-button color="warn" (click)="onClear()">Limpar</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</ng-template>
